@{
    ViewData["Title"] = "Access Denied";
}
<div class="Denied text-center">
    <h2 class="Error"> You are Not Authorised to view this page</h2>
    <a class="Return btn btn-danger" asp-action="Index" asp-controller="Home">Take Me Home</a>
</div>