@model SignIn
@{
    ViewData["Title"] = "Index";
}


<section class="Login fadeInDown">
    <h2 class="fadeIn first">Sign In</h2>
    <form class="fadeIn Second" asp-controller="Security" asp-action="Index" method="post">
        <div>
            <label asp-for="UserName"></label>
            <input class="username" type="text" asp-for="UserName" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input class="fadeIn Third" type="password" asp-for="Password" />
        </div>
        <div>
            <button type="submit" class="fadeIn fourth" onclick="return logincheck()">Sign In</button>
        </div>
        <div asp-validation-summary="All" class="message"></div>
    </form>
</section>

