@{
    ViewData["Title"] = "AirsoftLogger";
}
<div class="header" >
    <div class="text-center">
        <h2 class="display-3">Meet your Newest Airsoft Companion:</h2>
        <h1 class="display-2">Airsoft Logger</h1>
        <br />
        <h2 class="display-4 align-bottom">Airsoft Logger is your one stop shop for all UK Based Airsoft Events, It contains all the important information you need to find any Airsoft Site near or far and gives you all the Dates you need for any Airsoft Events.</h2>
    </div>
</div>
<div class="slideshow-container">
    <div class="mySlides">
        <img class="img-fluid" src="~/images/Slideshow/img1.jpg" />
        <div class="carousel-caption">Hallam Airsoft Society</div>
    </div>

    <div class="mySlides">
        <img class="img-fluid" src="~/images/Slideshow/img2.jpg" />
        <div class="carousel-caption">Test</div>
    </div>
</div>
