<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Airsoft, UK, Airsoft Sites, UK Airsoft, Airsoft Guns, Airsoft Events" />
    <meta name="author" content="Tom Boberek" />
    <meta name="description" content="Welcome to Airsoft Logger, The only tool that stores all registered UK Airsoft Sites and their upcoming events." />
    <title>@ViewData["Title"] - AirsoftLogger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @if (Context.Request.Cookies["DarkMode"] == "True")
    {
        <link rel="stylesheet" href="~/css/DarkMode.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/Styles.css" />
    }
    <script src="https://kit.fontawesome.com/917cececc5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AirsoftLogger</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sites">Airsoft Sites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Events">Airsoft Events</a>
                        </li>
                    </ul>

                </div>
                @if (!User.Identity.IsAuthenticated && !User.IsInRole("Manager"))
                {
                    <div class="logincontainer">
                        <a class="btn btn-primary" asp-area="" asp-controller="Security" asp-action="Index"> Login <i class="fas fa-sign-in-alt"></i> </a>
                    </div>
                }
                else
                {
                    <div class="logoutcontainer">
                        <form asp-controller="Security" asp-action="Logout" method="post">
                            <button class="btn btn-primary" type="submit">Logout <i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Confirmation.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
