@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$HeadColor: #363a26;
$BodyColor: #52603b;
$ThirdColor: #D6C2A3;
$FourthColor: #73655D;

html {
    width: 100%;
}

body {
    font-family: "Montserrat";
    background-color: $BodyColor;
    color: $ThirdColor;
    width: 100%;
}

.navbar {
    background-color: $HeadColor;
    width: 100%;

    .navbar-brand {
        color: white;
    }

    .nav-item {
        &:hover {
            background-color: $BodyColor;
            border-radius: 25px;
        }

        .nav-link {
            color: white;
            text-decoration: none;
            text-align: center;

            &:hover {
                color: black;
            }
        }
    }
}

.header {
    color: $ThirdColor;
    .text-center {
        .display-2 {
            font-size: 4em;
            padding: 4rem;
            text-align: center;
            margin: .5rem;
        }

        .display-3 {
            padding: 1rem;
            font-size: 3em;
        }

        .display-4 {
            padding: .5rem;
            font-size: 2em;
        }
    }
}

.logincontainer {
    .btn {
        cursor: pointer;
        background: $FourthColor;
        border-color: $FourthColor;

        .btn-primary {
        }
    }
}

.slideshow-container {
    z-index: 1;

    @media only screen and (max-width: 300px) {
        .text {
            font-size: 11px
        }
    }

    padding: 4em;
    max-width: 50vw;
    margin: auto;

    .mySlides {
        display: none;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .5
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .5
        }

        to {
            opacity: 1
        }
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 4.5s;
        animation-name: fade;
        animation-duration: 4.5s;
    }
}






#Top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;

    &:hover {
        background-color: #555;
    }
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Login {
    background-color: $HeadColor;
    align-content: center;
    padding: 1.5rem;
    color: antiquewhite;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    overflow-wrap: break-word;

    .LoginRule {
        border-top: 2px solid antiquewhite;
        padding: 0.5em;
    }

    .form-group {
        overflow-wrap: break-word;
    }

    .LoginTitle {
        text-align: center;
        font-size: 2rem;
    }

    .username {
        font-size: 1rem;
    }

    .password {
        font-size: 1rem;
    }

    .loginButton {
        $hovercolor: #8f847d;
        background-color: $FourthColor;

        &:hover {
            background-color: $hovercolor;
        }
    }

    .fadeIn {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;

        .first {
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .second {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .third {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .fourth {
            -webkit-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }
    }
}
/*# sourceMappingURL=Styles.scss.map */
