@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  width: 100%;
}

body {
  font-family: "Montserrat";
  background-color: #A4BF76;
  width: 100%;
}

.navbar {
  background-color: #5A613F;
  width: 100%;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .nav-item:hover {
  background-color: #A4BF76;
  border-radius: 25px;
}
.navbar .nav-item .nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
}
.navbar .nav-item .nav-link:hover {
  color: black;
}

.header .text-center .display-2 {
  font-size: 4em;
  padding: 4rem;
  text-align: center;
  margin: 0.5rem;
}
.header .text-center .display-3 {
  padding: 1rem;
  font-size: 2em;
}
.header .text-center .display-4 {
  padding: 0.5rem;
  font-size: 2em;
}

.logincontainer .btn {
  cursor: pointer;
  background: #81746d;
  border-color: #81746d;
}
.logincontainer .btn:hover {
  background-color: #ebe1d1;
  color: black;
}

.logoutcontainer .btn {
  cursor: pointer;
  background: #81746d;
  border-color: #81746d;
}
.logoutcontainer .btn:hover {
  background-color: #ebe1d1;
  color: black;
}

.footer {
  padding: 0.5rem;
  background-color: #5A613F;
}
.footer .container {
  align-content: center;
  font-size: 12px;
  color: white;
}
.footer .container .lightmode {
  padding: 5px;
}
.footer .container .darkmode {
  padding: 5px;
}

.slideshow-container {
  z-index: 1;
  padding: 4em;
  max-width: 75vw;
  margin: auto;
}
@media only screen and (max-width: 300px) {
  .slideshow-container .text {
    font-size: 11px;
  }
}
.slideshow-container .mySlides {
  display: none;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

.adminSiteadd {
  padding: 1rem;
  align-content: center;
}

.CreateEvent {
  width: 50%;
  margin: auto;
  background-color: #5A613F;
  border-radius: 20px;
  padding: 1rem;
  color: antiquewhite;
}
.CreateEvent .row {
  padding-left: 25px;
}
.CreateEvent .btn {
  background-color: #81746d;
  border-color: #81746d;
}
.CreateEvent .btn:hover {
  background-color: #ebe1d1;
  color: black;
}

.CreateSite {
  width: 50%;
  margin: auto;
  background-color: #5A613F;
  border-radius: 20px;
  padding: 1rem;
  color: antiquewhite;
}
.CreateSite .row {
  padding-left: 25px;
}
.CreateSite .btn {
  background-color: #81746d;
  border-color: #81746d;
}
.CreateSite .btn:hover {
  background-color: #ebe1d1;
  color: black;
}

.EditSite {
  width: 50%;
  margin: auto;
  background-color: #5A613F;
  border-radius: 20px;
  padding: 1rem;
  color: antiquewhite;
}
.EditSite .row {
  padding-left: 25px;
}
.EditSite .btn {
  background-color: #81746d;
  border-color: #81746d;
}
.EditSite .btn:hover {
  background-color: #ebe1d1;
  color: black;
}

.SiteInfoContainer {
  background-color: #5A613F;
  border-radius: 10px;
  padding: 1rem;
  color: white;
}
.SiteInfoContainer .ImportantSiteInfo {
  padding: 0.2rem;
  font-size: 2em;
}
.SiteInfoContainer .SiteAddress {
  padding: 1rem;
}
.SiteInfoContainer .SiteAddress .AddressTitle {
  font-size: 2em;
}
.SiteInfoContainer .SiteAddress .AddressItem {
  font-size: 1.5em;
  padding-left: 1rem;
}
.SiteInfoContainer .SiteContact {
  padding: 1rem;
}
.SiteInfoContainer .SiteContact .ContactTitle {
  font-size: 2em;
}
.SiteInfoContainer .SiteContact .ContactItem {
  font-size: 1.5em;
  padding-left: 1rem;
}
.SiteInfoContainer .SiteContact .ContactWebsite {
  text-decoration: none;
  cursor: pointer;
  color: antiquewhite;
  text-align: center;
}

.DetailTable {
  padding-top: 1rem;
  margin-top: 1rem;
}

.loginobject {
  margin: 3rem, 0, 3rem, 0;
}

@media only screen and (min-width: 700px) {
  .map {
    display: block;
    padding: 10px;
  }
}
@media only screen and (max-width: 699px) {
  .map {
    display: none;
  }
}
.siteHeading .text-center {
  padding: 2rem;
}
.siteHeading h1 {
  font-size: 4em;
}
.siteHeading h2 {
  font-size: 2em;
}
.siteHeading hr {
  border-bottom: solid 2px antiquewhite;
}

.searchSite {
  width: fit-content();
  border: solid 1px antiquewhite;
  margin: auto;
  padding: 1rem;
}
.searchSite .searchlabel {
  padding: 0.7rem;
}
.searchSite .form-group {
  padding: 0.5rem;
}
.searchSite .searchbuttoncontainer {
  padding-left: 1rem;
}
.searchSite .searchbuttoncontainer .searchbutton {
  background-color: #81746d;
  border-color: #81746d;
}
.searchSite .searchbuttoncontainer .searchbutton:hover {
  background-color: #ebe1d1;
  color: black;
}

.SiteTableTop {
  padding: 1.5rem;
}
.SiteTableTop h2 {
  font-size: 2em;
}

.EventTable {
  align-content: center;
  margin: auto;
  padding: 0.5rem;
}
.EventTable td .websitelink {
  text-decoration: none;
  cursor: pointer;
  color: #58504c;
  text-align: center;
}
.EventTable .thead-dark {
  background-color: #5A613F;
  color: antiquewhite;
}
.EventTable .SiteDetailsContainer {
  padding: 0.5rem 0 0 0;
}
.EventTable .SiteDetailsContainer .SiteDetails {
  background-color: #81746d;
  border-color: #81746d;
}
.EventTable .SiteDetailsContainer .SiteDetails:hover {
  background-color: #ebe1d1;
  color: black;
}
.EventTable .SiteUpdateContainer {
  padding: 0.5rem 0 0 0;
}
.EventTable .SiteUpdateContainer .SiteUpdate {
  background-color: #5A613F;
  border-color: #5A613F;
}
.EventTable .SiteUpdateContainer .SiteUpdate:hover {
  background-color: #6b7152;
  color: black;
}
.EventTable .SiteDeleteContainer {
  padding: 0.5rem 0 0 0;
}

.Deletecontainer {
  padding: 2em;
  border-radius: 10px;
  background-color: #5A613F;
  color: antiquewhite;
  width: 50%;
  margin: auto;
  align-content: center;
}
.Deletecontainer .deleteText {
  color: antiquewhite;
  padding-right: 1em;
}

.SiteTable {
  align-content: center;
}
.SiteTable td .websitelink {
  text-decoration: none;
  cursor: pointer;
  color: #58504c;
  text-align: center;
}
.SiteTable .thead-dark {
  background-color: #5A613F;
  color: antiquewhite;
}
.SiteTable .SiteDetailsContainer {
  padding: 0.5rem 0 0 0;
}
.SiteTable .SiteDetailsContainer .SiteDetails {
  background-color: #81746d;
  border-color: #81746d;
}
.SiteTable .SiteDetailsContainer .SiteDetails:hover {
  background-color: #ebe1d1;
  color: black;
}
.SiteTable .SiteUpdateContainer {
  padding: 0.5rem 0 0 0;
}
.SiteTable .SiteUpdateContainer .SiteUpdate {
  background-color: #5A613F;
  border-color: #5A613F;
}
.SiteTable .SiteUpdateContainer .SiteUpdate:hover {
  background-color: #6b7152;
  color: black;
}
.SiteTable .SiteDeleteContainer {
  padding: 0.5rem 0 0 0;
}

#Top {
  display: none;
  position: fixed;
  bottom: 85px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #81746d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#Top:hover {
  background-color: #5c514a;
}

.eventHeading .text-center {
  padding: 2rem;
}
.eventHeading h1 {
  font-size: 4em;
}
.eventHeading h2 {
  font-size: 2em;
}
.eventHeading hr {
  border-bottom: solid 2px antiquewhite;
}

.searchEvent {
  width: fit-content();
  border: solid 1px antiquewhite;
  margin: auto;
  padding: 1rem;
}
.searchEvent .searchlabel {
  padding: 0.7rem;
}
.searchEvent .form-group {
  padding: 0.5rem;
}
.searchEvent .searchbuttoncontainer {
  padding-left: 1rem;
}
.searchEvent .searchbuttoncontainer .searchbutton {
  background-color: #81746d;
  border-color: #81746d;
}
.searchEvent .searchbuttoncontainer .searchbutton:hover {
  background-color: #ebe1d1;
  color: black;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Login {
  background-color: #5A613F;
  align-content: center;
  padding: 1.5rem;
  margin: 4rem 0 4rem 0;
  color: antiquewhite;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  overflow-wrap: break-word;
}
.Login .LoginRule {
  border-top: 2px solid antiquewhite;
  padding: 0.5em;
}
.Login .form-group {
  overflow-wrap: break-word;
}
.Login .LoginTitle {
  text-align: center;
  font-size: 2rem;
}
.Login .username {
  font-size: 1rem;
}
.Login .password {
  font-size: 1rem;
}
.Login .loginButton {
  background-color: #81746d;
}
.Login .loginButton:hover {
  background-color: #8f847d;
}
.Login .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.Login .fadeIn .first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.Login .fadeIn .second {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.Login .fadeIn .third {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.Login .fadeIn .fourth {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/*# sourceMappingURL=Styles.scss.map */

/*# sourceMappingURL=Styles.css.map */
